<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Synthetic Query Manual Inspector</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div>
      <h1>Synthetic Query Manual Inspector</h1>
      <button id="prev-btn" disabled>Previous</button>
      <button id="next-btn">Next</button>
      <br>
      <textarea id="text-area" rows="10" cols="50"></textarea>
      <br>
      <button id="save" onclick="saveEdits()">Save</button>
      <br>
      <button id="insert" onclick="newEntry()">Add Entry</button>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
